DB_HOST=127.0.0.1
DB_PORT=5432
DB_SSLMODE=disable
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=kelolakelas_billing
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=inipasswordredis
JWT_SECRET=supersecretjwtkey123!
PORT=8082
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@kelolakelas.com
DUITKU_API_BASE_URL=https://sandbox.duitku.com/webapi/api/merchant
DUITKU_API_KEY=
DUITKU_MERCHANT_CODE=
DUITKU_CALLBACK_URL=
DUITKU_RETURN_URL=
ACADEMIC_SERVICE_URL=http://localhost:8081